List((
    texture_width: 96,
    texture_height: 34,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 16,
            y: 0,
            width: 40,
            height: 34,
        ),
        (
            x: 56,
            y: 0,
            width: 40,
            height: 34,
        ),
        
    ],
))